<form
  class="form"
  [formGroup]="form"
  (submit)="handleSubmit(form, $event)"
>
  <div class="title">
    workflow
  </div>
  <div class="desc my-4">
    验证手机以开始
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="你的手机号"
      formControlName="phone"
    >
  </div>
  <div class="form-group input-group d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      placeholder="验证码"
      formControlName="vertificationCode"
    >
    <div class="input-group-append">
      <button
        class="btn btn-primary"
        type="button"
        id="button-addon2"
      >获取验证码</button>
    </div>
  </div>
  <button
    [disabled]="!form.valid"
    type="submit"
    class="btn btn-block btn-primary my-3"
  >开始</button>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <a
        class="base-font"
        [routerLink]="['/login']"
      >账号密码登录</a>
    </div>
  </div>
</form>
