<div
  class="modal fade"
  [id]="dialogId"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    role="document"
    class="modal-dialog"
    [ngClass]="dialogClassList"
    [style.width]="width"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h3
          class="modal-title"
          id="exampleModalCenterTitle"
        >
          {{ title }}
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <ng-content
        *ngIf="customFooter else elseTemplate"
        select="[name]=footer"
      ></ng-content>

      <ng-template #elseTemplate>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >取消</button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="handleConfirm()"
          >确定</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
